@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>iletisim</title>
    <meta name="viewport" content="wIdth=device-wIdth" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="~/css/iletisim.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    

</head>
<body>

    <!-- Navbar Kısmı-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="">




        <img src="/img/logo.png" wIdth="50" height="50" alt="" />
        &emsp;
        <a class="navbar-brand baslik" href="/">    MESİS/ Merkezi Sensör İzleme Sistemi</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" Id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-link menu">


                <li class="nav-item ">
                    <a class="nav-link" href="/">Anasayfa<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/Home/hakkimizda">Hakkımızda<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/projemiz">Projemiz</a>
                </li>

                <li class="nav-item my-2 my-lg-0">
                    <a class="nav-link " href="/Home/iletisim" tabindex="-1" aria-disabled="true">İletişim</a>
                </li>
            </ul>

        </div>


    </nav>

    <!-- Logo-->
    <div class="resim" align="center"> <img src="/img/m.png" wIdth="100" height="100" alt="" /> </div>


    <!--İletişim-->

    <div class="shadow p-3 mb-5  rounded arkaplan ">

        <div class="danisman info rounded shadow p-3 mb-5  rounded border border-info">

            <h1 class="baslik"> Berk Şahin</h1>
            <a class="eposta" > m-berksahin@hotmail.com</a>
            <hr />
            <a  class="tel" "> +90 545 945 0594</a>
            <hr />
        </div>

        <div class=" stajyerler info rounded shadow p-3 mb-5  rounded border border-info ">

            <h1 class="baslik"> Murat Yıldız</h1>
            <div class="eposta"> yilldizz.murat@gmail.com  &nbsp;  </div>
            &nbsp; &nbsp;
            <div class="tel"> +90 554 939 1678 </div>
            <hr />


            <h1 class="baslik"> Yunus Emre Mavi</h1>
            <div class="eposta"> Yunusemre33012@gmail.com  &nbsp; </div>
            &nbsp; &nbsp;
            <div class="tel"> +90 542 277 40 04   </div>
            <hr />

            <h1 class="baslik"> Mert Pire</h1>
            <div class="eposta"> mertpire00@gmail.com  &nbsp;</div>
            &nbsp; &nbsp;
            <div class="tel"> +90 542 355 02 25  </div>
            <hr />


    </div>

        <div class="info rounded shadow p-3 mb-5 rounded border border-info">
            <h1 class="baslik" style="text-align:center; font-size:30px; position:relative;"> Şirket</h1>
            <hr />
            <a style="font-size:15px;">Email : info@parxlab.co </a>
            <hr />
            <a style="font-size:15px;">Telefon Fax:0850 840 93 25 </a>
            <hr />
            <a style="font-size:15px;">Adres : Odtü Teknokent No:13/52 Çankaya/ANKARA </a>
            <hr />

        </div>




    </div>

    <!--footer-->

    <footer class="page-footer font-small indigo">

        <!-- Footer Links -->
        <div class="container">

            <!-- GrId row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">

                <!-- GrId column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/Home/hakkimizda">Hakkımızda</a>
                    </h6>
                </div>
                <!-- GrId column -->
                <!-- GrId column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/Home/projemiz">Ürünümüz</a>
                    </h6>
                </div>

                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/Home/iletisim">Yardım</a>
                    </h6>
                </div>
                <!-- GrId column -->
                <!-- GrId column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/Home/iletisim">iletişim</a>
                    </h6>
                </div>
                <!-- GrId column -->

            </div>
            <!-- GrId row-->
            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!-- GrId row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!-- GrId column -->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">
                        Günümüzde teknolojinin gelişmesiyle  biz de şehirleri dijitalleştirmek
                        ve Akıllı Şehirler oluşturmak için çalışıyoruz.
                        Geliştirdiğimiz Merkezi Sensör İzleme Sistemi ile birlikte birçok alanda altyapı gözetimi için
                        ısı,sıcaklık,ses gibi,açıklık kapalılık,cihaz yerinde var ya da yok gibi değerleri
                        sensörlerimizle ölçüyor ve bütün değerleri tek bir noktada toplayıp uzak mesafelerden
                        Web ve Android platformları ile uzaktan yönetim imkanı sağlıyoruz.
                    </p>
                </div>
                <!-- GrId column -->



            </div>
            <!-- GrId row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            <!-- GrId row-->
            <div class="row pb-3">

                <!-- GrId column -->
                <!-- GrId column -->
                <div class="col-md-12" style="text-align:center;position:relative;">

                    <a href="https://www.facebook.com/parxlab/" class="fab fabb fa-facebook-f"></a>
                    <a href="https://twitter.com/PARXLAB" class="fab fabb fa-twitter"></a>
                    <a href="https://www.linkedin.com/company/parxlab/" class="fab fabb fa-linkedin"></a>
                    <a href="https://www.instagram.com/parxlab/" class="fab fabb fa-instagram"></a>

                </div>
            </div>
            <!-- GrId row-->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">

            <a href="https://www.parxlab.co/"> www.parxlab.co </a>
        </div>
        <!-- Copyright -->

    </footer>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>